<li id="<%= dom_id(block) %>" class="list-group-item border border-0" data-sortable-update-url="<%= document_block_path(block) %>">
  <div class="card">
    <%= fields_for "document[document_blocks_attributes][]", block, index: block.id do |block_form| %>
      <%= block_form.hidden_field :id %>
      <div class="card-header handle">
        <div class="d-flex">
          <div><%= block.block_type %></div>
          <div class="ms-auto"><%= link_to "", document_block_path(block), class: "btn btn-sm btn-close", type: "button", data: { turbo: true, turbo_method: :delete } %></div> 
        </div>
      </div>
      <div class="card-body">
        <% if block.block_type == "h1" %>
          <%= block_form.text_field :content, class: "form-control" %>
        <% elsif block.block_type == "h2" %>
          <%= block_form.text_field :content, class: "form-control" %>
        <% elsif block.block_type == "h3" %>
          <%= block_form.text_field :content, class: "form-control" %>
        <% elsif block.block_type == "text" %>
          <%= block_form.rich_text_area :reach_content, class: "form-control" %>
        <% end %>
      </div>
      <div class="card-footer m-0">
        <%= render partial: "document_blocks/dropdown_headers", locals: {document_id: document.id} %>
      </div>
    <% end %>
  </div>
</li>

