<div class="row justify-content-center">
  <div class="col col-lg-9 mb-4 mb-lg-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Profile", user_path(current_user)%></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
    <%= form_with model: @user do |form|%>
      <div class="card">
        <div class="card-body p-4">
          <div class="row g-0 mb-2" data-controller="image-preview">
            <h6 class="text-primary fw-semibold" >Avatar</h6>
            <hr class="mt-0 mb-2 border-primary">
            <div class="col-md-4 text-center" data-image-preview-target="avatar">
              <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar.variant(resize_to_limit: [128, 128]).processed,  class: "rounded-circle" %>
              <% else %> 
                <i class="bi bi-card-image" style="font-size: 8rem; color: cornflowerblue;"></i>
              <% end %>
            </div>
            <div class="col-md-4 text-center" data-image-preview-target="preview" hidden>
              <img data-image-preview-target="canvas"  class="rounded-circle" width="128" height="128" >
            </div>
            <div class="col-md-8 ml-2">
              <%= form.label :avatar, "Add avatar", class: "btn btn-outline-primary" %>
              <%= form.file_field :avatar, accept: "image/*", "data-image-preview-target": "source", hidden: "", class: "form-control", "data-action": "image-preview#show" %>
            </div>
          </div>
          <div class="row g-0 mb-2">
            <h6 class="text-primary fw-semibold" >Full name</h6>
            <hr class="mt-0 mb-2 border-primary">
            <div class="row mb-3">
              <%= form.label :firstname, class: "col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= form.text_field :firstname, class: "form-control" %>
              </div>
            </div>
            <div class="row mb-3">
              <%= form.label :lastname, class: "col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= form.text_field :lastname, class: "form-control" %>
              </div>
            </div>
            <div class="row mb-3">
              <%= form.label :middlename, class: "col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= form.text_field :middlename, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row g-0 mb-2">
            <h6 class="text-primary fw-semibold" >Сontacts</h6>
            <hr class="mt-0 mb-2 border-primary">
            <div class="row mb-3">
              <%= form.label :email, class: "col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= form.text_field :email, class: "form-control" %>
              </div>
            </div>
            <div class="row mb-3">
              <%= form.label :number, class: "col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <% unless  @user.phones.blank? %>
                  <%= form.fields_for :phones do |phone_numbers| %>
                    <%= phone_numbers.text_field :number, class: "form-control mb-1" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row g-0 mb-2">
            <h6 class="text-primary fw-semibold" >Company</h6>
            <hr class="mt-0 mb-2 border-primary">
            <div class="row mb-3">
              <%= form.fields_for :user_position do |position_form| %>
                <%= position_form.label :position_id, class: "col-sm-2 col-form-label" %>
                <div class="col-sm-8">
                  <%= position_form.select :position_id, positions_list, { }, { class: "form-select" } %>
                </div>
               <div class="col-sm-2">
                  <%= position_form.check_box :_destroy, class: "btn-check", autocomplete: "off" %>
                  <%= position_form.label :_destroy, "Delete", class: "btn btn-outline-danger" %>
                </div>
              <% end %> 
            </div>
            <div class="row mb-3">
              <%= form.label :department, class: "col-sm-2 col-form-label" %>
              <div class="col-sm-10">
                <%= form.select :department, departments_list, { include_blank: true }, { class: "form-select" } %>
              </div>
            </div> 
          </div>
        </div>
        <div class="card-footer">
           <%= form.button "Update", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

    


