<div class="row d-flex justify-content-center">
  <div class="col col-lg-7 mb-4 mb-lg-0">
    <div class="card border-radius border-primary">
        <div class="row g-0">
          <div class="col-md-4 text-center border-top-left-radius border-bottom-left-radius">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar" class="img-fluid my-5" style="width: 80px;">
            <% if @user.name? || @user.surname? || @user.patronymic? %>
              <h5><%= @user.name %> <%= @user.surname %></h5>
              <h5><%= @user.patronymic %></h5>
            <% else %>
             <h5>No name</h5>
            <% end %>
            <i class="bi bi-pencil-square"></i>
          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h6 class="text-primary fw-semibold" >Сontacts</h6>
              <hr class="mt-0 mb-2 border-primary">
              <div class="row pt-1">
                <div class="col-4">
                  <h6>Email</h6>
                </div>
                <div class="col-8">
                  <p class="text-muted"><%= @user.email %></p>
                </div>
              </div>
              <div class="row pt-1 mb-1">
                <div class="col-4">
                  <h6>Phone</h6>
                </div>
                <div class="col-8">
                  <p class="text-muted">123 456 789</p>
                </div>
              </div>
              <h6 class="text-primary fw-semibold">Information</h6>
              <hr class="mt-0 mb-2 border-primary">
              <div class="row pt-1">
                <div class="col-4">
                  <h6>Department</h6>
                </div>
                <div class="col-8">
                  <p class="text-muted"><%= @user.department.name %></p>
                </div>
              </div>
              <div class="row pt-1">
                <div class="col-4">
                  <h6>Post</h6>
                </div>
                <div class="col-8">
                  <p class="text-muted"><%= @user.post.name %></p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
