<div class="container-fluid">
  <div class="conteiner ">
    <h2><%= @document.name %></h2>
    <%= link_to "Setting", new_project_path, class: "btn btn-primary", role: "button" %>
  </div>
  <div class="conteiner m-3">
    <div class="row text-primary my-2 mx-0 p-2 ">
      <div class="col-10 position-relative" >
        <%= form_with model: @document, data: { turbo: false }, scope: "document" do |document|%>
            <%
=begin%>
 <%= turbo_frame_tag "document-blocks" do %> 
<%
=end%>
              <ul id="blocks" class="list-group" data-controller="sortable" data-sortable-handle-value=".handle">
                <% @document_blocks.each do |block| %>
                  
                    <%= render partial: "document_blocks/edit", locals: {block:  block, document: @document } %>
                  
                <% end %>
              </ul>
            <%
=begin%>
 <% end %> 
<%
=end%>

          <div class="row my-2 mx-0">
            <%= document.submit "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="col-2 border-start border-primary border-2">
        <h3>Blocks</h3>
        <%= render partial: "document_blocks/index", locals: {document_id:  @document.id}%>
      </div>
    </div>
  </div>
</div>