<div class="container-fluid">
  <div class="conteiner m-3">
    <%= link_to "New project", new_project_path, class: "btn btn-primary", role: "button" %>
  </div>
  <div class="conteiner list-group m-3">
    <% @projects.each do |project| %>
      <div class="list-group-item list-group-item-action list-group-item-info m-1 rounded-2 border-1">
        <div class="hstack gap-2">
          <div class="p-1">
            <%= link_to project_path(project), class: "link-primary stretched-link link-underline-opacity-0" do %>
              <h4 class="m-0"><%= project.name%></h4>
            <% end %>
          </div>
          <div class="p-1 ms-auto">
          Members <span class="badge text-bg-secondary"><%= project.members.count %></span>
          </div>
          <div class="p-1">
            Documents <span class="badge text-bg-secondary"><%= project.documents.count %></span>
          </div>
          <div class="p-1">
            <%= render partial: "status", locals: { project: project } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



