<%= turbo_frame_tag "modal" do %>
  <div class="modal fade" tabindex="-1" data-controller="modal" data-bs-backdrop="static" data-bs-keyboard="false" >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <%= form_with url: permissions_member_path(@member), method: :patch, data: { turbo: false } do |form| %>
          <div class="modal-header">
            <h3 class="modal-title fs-5 text-primary">Permissions for <%= @member.name %></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">  
            <div class="row mb-2">
              <div class="col">  
                <% TypePermission.all.order(:position).each do |type| %>
                <h6 class="text-primary fw-semibold text-capitalize" ><%= type.name %></h6>
                <hr class="mt-0 mb-2 border-primary">  
                  <% type.permissions.each do |permission| %>
                    <div class="form-check form-switch">
                      <%= check_box_tag "permissions[#{type.name}][]", permission.name, 
                                                                       permission_checked?(type, permission), 
                                                                       disabled: permission_disabled?(type, permission), id: "#{type.name}_#{permission.id}", 
                                                                       class: "form-check-input" %>
                      <%= label_tag "#{type.name}_#{permission.id}", permission.name, class: "form-check-label" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= form.submit "Update", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
