<h6 class="text-primary fw-semibold" >Сontacts</h6>
<hr class="mt-0 mb-2 border-primary">
<div class="row mb-3">
  <%= form.label :email, class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10">
    <%= form.text_field :email, class: "form-control" %>
  </div>
</div>
<div class="row mb-3">
  <%= form.label :numbers, class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10" >
    <%= form.fields_for :phones  do |phone_numbers| %>
      <div class="row">
        <div class="col-sm-10">
          <%= phone_numbers.text_field :number, class: "form-control mb-1" %>
        </div>
        <div class="col-sm-2">
          <%= phone_numbers.check_box :_destroy, class: "btn-check", autocomplete: "off" %>
          <%= phone_numbers.label :_destroy, "Delete", class: "btn btn-outline-danger" %>
        </div>
      </div>
    <% end %>
    <div class="row">
        <%= button_tag  data: {action: "nested-fields#append"},  type: "button",  class: "btn  btn-outline-primary" do %>
         <i class="bi bi-plus-circle-fill"> Add</i>
        <% end %>
      <div class="col-10">
        <%= form.fields_for :phones, @user.phones.build do |phone_numbers| %>    
          <%= phone_numbers.text_field :number, class: "form-control mb-1", placeholder: "New", "aria-label": "New" %>
        <% end %>
      </div>
      <div class="col-sm-2">

      </div>
    </div>
    <div data-nested-fields-target="fields"></div>
    <div>
      <template data-nested-fields-target="template">
        <div class="row">
          <div class="col-10">
            <%= form.fields_for :phones, @user.phones.build, child_index: "__INDEX__"  do |phone_numbers| %>
              <%= phone_numbers.text_field :number, class: "form-control mb-1", placeholder: "New", "aria-label": "New" %>
            <% end %>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
