<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Watermelon" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body >
    <%= render "layouts/header" %>
    <div class="conteiner-fluid" style="margin-top: 66px;">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-#{name}", role: "alert" %>
      <% end -%>
      <div class="conteiner p-2">
        <div class="row justify-content-start gx-0">
          <% unless @project.nil? || @project.new_record?%>
            <%= render "layouts/project_menu" %>
          <% end %>
          <div class="col">

            <%= yield %>
            
          </div>
        </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>