<div class="container-fluid">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Projects", projects_path %></li>
        <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
        <li class="breadcrumb-item active" aria-current="page">Members</li>
      </ol>
    </nav>
  </div>
  <div class="conteiner p-1">
    <%= link_to 'New member', new_project_member_path(@project),  data: { turbo: true, turbo_frame: 'modal' }, class: 'btn btn-primary'  %>
  </div>
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Source</th>
        <th scope="col">Role</th>
        <th scope="col">Activity</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @members.each do |member| %>
        <tr>
          <td>
            <div>
              <%= member.name %> 
              <% if member.current_user?(current_user) %>
                <span class="badge text-bg-info">it's you</span>
              <% end %>
            </div>
            <div><%= member.login %></div>
          </td>
          <td>
            <div>Direct member by</div> 
            <div><%= member.invited.full_name %></div>
          </td>
          <td>
            <% if member.current_user?(current_user)%>
              <%= member.role %>
            <% elsif can? :update, Member %>
              <div class="btn-group">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= member.role %>
                </button>
                  <%= render partial: "roles", locals: { member: member } %>
              </div>
            <% else %>
              <%= member.role %>
            <% end %>
          </td>
          <td>
            <div>
              <i class="bi bi-person-plus" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Member added"></i> 
              <%= member.created_at.strftime("%b %d, %Y") %>
            </div>
            <div>
              <i class="bi bi-clock" data-controller="test" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Last activity in project"></i> 
              <% unless member.last_activity.blank? %>
                <%= member.last_activity.strftime("%b %d, %Y") %>
              <% else %>
                no activity
              <% end %>
            </div>
          </td>
          <td>
            <div class="d-flex flex-row-reverse">
              <div class="dropdown dropstart p-2">
                <button class="btn btn-outline-dark border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <% if member.current_user?(current_user) %>
                    <li>
                      <%= link_to "leave project", project_member_path(@project, member), class: "dropdown-item text-danger", 
                                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to "permissions", permissions_member_path(member), class: "dropdown-item text-primary" %>
                    </li>
                    <li>
                      <% if can? :destroy, member %>
                      <%= link_to "remove member", project_member_path(@project, member), class: "dropdown-item text-danger", 
                                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

