<div class="container-fluid">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Projects", projects_path %></li>
        <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
        <li class="breadcrumb-item active" aria-current="page">Members</li>
      </ol>
    </nav>
  </div>
  <div class="conteiner p-1">
    <%= link_to 'New member', new_project_member_path(@project),  data: { turbo: true, turbo_frame: 'modal' }, class: 'btn btn-primary'  %>
  </div>
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Source</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @members.each do |member| %>
        <tr>
          <td>
            <div><%= member.name %></div>
            <div><%= member.login %></div>
          </td>
          <td>Direct member by</td>
          <td>Role</td>
          <td class="d-flex flex-row-reverse">
            <div class="dropdown dropstart p-2">
              <button class="btn btn-outline-dark border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item text-primary" type="button">permissions</button></li>
                <li><button class="dropdown-item text-danger" type="button">remove member</button></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
      <% end %>
    </tbody>
  </table>
</div>

