<main class="form-signup w-100 m-auto">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <h1 class="h3 mb-3 fw-normal">Create an account</h1>

    <div class="form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",  placeholder: "name@example.com" %>
      <%= f.label :email %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password", "aria-describedby": "passwordHelp" %>
      <%= f.label :password %>
      <div id="passwordHelp" class="form-text">
        <% if @minimum_password_length %>
        <%= @minimum_password_length %> characters minimum
        <% end %>
      </div>
    </div>

    <div class="form-floating">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation"  %>
      <%= f.label :password_confirmation %>
    </div>

    <%= f.submit "Sign up", class: "btn btn-primary w-100 py-2" %>
  <% end %>
</main>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
